html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --rvv: calc(1rem + 1vh + 1vw);

    --top-matter-height: 30%;

    --main-gap: calc(0.5*var(--rvv));
}

@font-face {
    font-family: 'Sublima';
    src: url('font/sublima/sublima-light.otf');
}

html,
body {
    font-family: 'Sublima';
    box-sizing: border-box;
    max-width: 100vw;
    min-height: 100vh;
}
/* 
body * {
    border: 0.5px solid black;
} */

body {
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo top-matter";
}

.logo {
    margin-right: auto;
    grid-area: logo;
    min-width: calc(4*var(--rvv));
    padding: calc(0.2*var(--rvv)) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-matter {
    grid-area: top-matter;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-img img {
    height: var(--top-matter-height);
}

.search-input {
    margin-left: calc(0.2*var(--rvv));
    height: var(--top-matter-height);
}

.hamburger {
    margin: 0 calc(var(--rvv));
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger img {
    height: var(--top-matter-height);
}

main {
    margin-top: var(--main-gap);
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}

.content {
    margin: 0 calc(0.5*var(--rvv));
    flex: auto;
    display: flex;
    flex-direction: column;   
}

.top-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(0.5*var(--rvv));
}

.title {
    width: 100%;
    font-size: calc(0.9*var(--rvv));
}

.author {
    margin-right: calc(var(--rvv));
}

.blog-post {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: calc(0.5*var(--rvv));
    margin-bottom: calc(var(--rvv));
}

.bottom-info {
    display: flex;
    justify-content: space-around;
    gap: calc(var(--rvv));
}

.previous,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous img,
.next img {
    height: 20%;
}

.tags {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(0.1*var(--rvv));
}



.recent-posts {
    display: flex;
    flex-direction: column;
}

.recent-links {
    display: flex;
    flex-direction: column;
    gap: calc(0.1*var(--rvv));
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* desktop styles: */
@media screen and (min-width: 750px) {
    main {
        flex: auto;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "content recent";
    }
    .content {
        grid-area: content;
    }
    .recent-posts {
        grid-area: recent;
    }
}

.hide {
    display: none;
}