extends layout 

block content

    script(type='application/javascript' src='/tinymce/tinymce.min.js')
    script(type='application/javascript' src='/js/tinymce-config.js')

    if currentUser
        form.article-form(method='POST') 
            if article
                label(for='title') Title:
                input(type='text' name='title' id='title' value=(article.title))
                label(for='author') Author: 
                input(type='text' name='author' id='author' value=(article.author.name))
                label(for='description') Description:
                input(type='text' name='description' id='description' value=(article.description))
                textarea(id='tinymce-editor' name='body') #{article.body}
                label(for='tags') Tags:
                input(type='text' name='tags' id='tags' value=(article.tags))
                label(for='published') Published:
                if article.published
                    input(type='checkbox' name='published' id='published' value='true' checked)
                else
                    input(type='checkbox' name='published' id='published' value='true')
                input(type='submit')
            else
                label(for='title') Title:
                input(type='text' name='title' id='title')
                label(for='author') Author: 
                input(type='text' name='author' id='author')
                label(for='description') Description:
                input(type='text' name='description' id='description')
                textarea(id='tinymce-editor' name='body') #{article.body}
                label(for='tags') Tags:
                input(type='text' name='tags' id='tags')
                label(for='published') Published:
                input(type='checkbox' name='published' id='published' value='true')
                input(type='submit')
                
    else 
        h1 You are not logged in.