extends layout 

block content

    script(type='application/javascript' src='/tinymce/tinymce.min.js')
    script(type='application/javascript' src='/js/tinymce-config.js')

    if currentUser
        form.article-form(method='POST') 
            if article
                h1.edit-article-title Edit Article
                label(for='title') Title
                input(class='text-field' type='text' name='title' id='title' value=(article.title) required)
                label(for='author') Author
                input(class='text-field' type='text' name='author' id='author' value=(null === article.author ? '' : article.author.name) required)
                label(for='description') Description
                input(class='text-field' type='text' name='description' id='description' value=(article.description) required)
                label(for='body') Article Body
                textarea(id='tinymce-editor' name='body') #{article.body}
                label(for='tags') Tags
                p.tags-sublabel1 Tags must be submitted in this exact format:
                p.tags-sublabel2 tag 1, tag 2, tag 3
                -
                    let tagString = '';
                    article.tags.forEach((tag, index) => {
                        if (index === article.tags.length - 1) {
                            tagString = tagString + tag;
                        } else {
                            tagString = tagString + tag + ', ';
                        }
                    });
                input(class='text-field' type='text' name='tags' id='tags' value=(tagString))
                section.published-section
                    label(for='published') Published:
                    if article.published
                        input(type='checkbox' name='published' id='published' value='true' checked)
                    else
                        input(type='checkbox' name='published' id='published' value='true')
                input(class='button form-submit' type='submit')
            else
                h1.edit-article-title New Article
                label(for='title') Title:
                input(class='text-field' type='text' name='title' id='title' placeholder=' ' required)
                label(for='author') Author: 
                input(class='text-field' type='text' name='author' id='author' placeholder=' ' required)
                label(for='description') Description:
                input(class='text-field' type='text' name='description' id='description' placeholder=' ' required)
                .date-section
                    label(for='timestamp') Date:
                    input(class='date-input' type='date' name='timestamp' id='timestamp' required)
                label(for='body') Article Body
                textarea(id='tinymce-editor' name='body')
                label(for='tags') Tags:
                p.tags-sublabel1 Tags must be submitted in this exact format:
                p.tags-sublabel2 tag 1, tag 2, tag 3
                input(class='text-field' type='text' name='tags' id='tags')
                section.published-section
                    label(for='published') Published:
                    input(type='checkbox' name='published' id='published' value='true')
                input(class='button form-submit' type='submit')
                
    else 
        h1 Please 
            a(href='/admin') log in
            |  to continue.