doctype html
html
    head
        title Lead Block Sports CMS
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet' href='/style/style.css')
    body
        nav
            h1.title 
                a(href='/') Lead Block Sports CMS
            ul.nav-links
                li nav 1
                li nav 2
                li
                    a(href='/admin/log-out') Log Out
        main
            block content
