doctype html
html
    head
        title Lead Block Sports CMS
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel='stylesheet' href='/style/style.css')
    body
        nav
            h1.title 
                if currentUser
                    a(href='/admin/dashboard') Lead Block Sports CMS
                else 
                    | Lead Block Sports CMS
            ul.nav-links
                if currentUser
                    li.button
                        a(href='/admin/dashboard') Home
                    li.button Create New Post
                    li.button View All Posts
                    li.button
                        a(href='/admin/log-out') Log Out
                else 
                    li.button
                        a(href='/admin') Log In
        main
            block content
