extends layout 

block content 

    form(class='login-form' method='POST')
        h2.login-form-title Admin Login
        label(for='email') Email:
        input(class='text-field' type='email' id='email' name='email' placeholder='johnsmith@gmail.com' required)
        label(for='password') Password:
        input(class='text-field' type='password' id='password' name='password' placeholder=' ' required)
        input(class='form-submit' type='submit' value='Log In')
