@font-face {
    font-family: 'Fira Code';
    src: url('/style/fonts/fira-code.ttf');
    font-weight: 300 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {
    --rvv: calc(1rem + 1vmin + 1vmax);

    --blue: #2E5169;
    --blue-gray: #5E686D;
    --brown: #6F5746;
    --brown-muted: #63584C;
    --brown-tan: #A58F85;
    --forest-green: #4D663E;
    --green-brown: #5F563F;
    --gray-tan: #C9BBA3;
    --tan-gray: #D1C9BA;
    --off-white: #E4D9C5;
    --orange-yellow: #E1B270;
    --orange-tan: #CDA885;
    --red: #AC3A3E;
    --special-red: #824E4A;
    --tan: #D2BC9B;

    --body-bg: #caa583d3;
}

html,
body {
    box-sizing: border-box;
}

body {
    font-family: 'Fira Code';
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg);
}

nav {
    padding: 40px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: calc(var(--rvv));
    align-items: center;
    padding-bottom: 40px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color: black;
}

.title {
    font-size: calc(0.8*var(--rvv));
}

.nav-links {
    flex: auto;
    font-size: calc(0.6*var(--rvv));
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: calc(2*var(--rvv));
    row-gap: 20px;
}

.nav-links li {
    background-color: #7f996e;
}

.button {
    cursor: pointer;
    padding: 5px 8px;
    font-family: 'Fira Code';
    font-size: calc(0.5*var(--rvv));
    font-weight: 350;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
    transition: transform 0.1s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}


main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h1 {
    font-size: calc(0.5*var(--rvv));
}

h1.error {
    max-width: 500px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: calc(0.65*var(--rvv));
}

.login-form {
    width: 300px;
    max-width: 75vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.619);
    border: 1px solid black;
}

.login-form-title {
    text-align: center;
}

.login-form-title,
.text-field {
    margin-bottom: 20px;
}

.text-field {
    background-color: rgba(255, 255, 255, 0.768);
    border: 1px solid rgba(0, 0, 0, 0.701);
    outline: none;
    border-radius: 3px;
    margin-top: 5px;
    padding: 8px;
    font-family: 'Fira Code';
}

.text-field:focus {
    background-color: rgb(243, 207, 139);
}

.login-form .text-field:valid:not(:placeholder-shown) {
    background-color: #bce4b7;
}

.text-field:invalid:not(:placeholder-shown) {
    background-color: rgb(237, 169, 169);
}

.form-submit {
    margin: 0 auto;
    background-color: #afc8d7;
}

.greeting {
    font-size: calc(0.35*var(--rvv));
    width: fit-content;
    margin: 0 auto 20px;
    background-color: #e98b84;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.articles-title {
    font-size: calc(0.8*var(--rvv));
    text-decoration: underline;
}

.articles {
    width: 750px;
    max-width: 90vw;
    margin: 10px 0;
}

.articles h2 {
    font-size: calc(0.7*var(--rvv));
    font-weight: 300;
    margin-bottom: 5px;
}

.article-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: calc(0.5*var(--rvv));
}

.edit-article-title {
    font-size: calc(0.8*var(--rvv));
    margin: 0 auto;
}

.article-form {
    padding: 0 20px 50px;
    display: flex;
    flex-direction: column;
}

.article-form label {
    font-size: calc(0.6*var(--rvv));
}

.article-form .text-field {
    font-size: calc(0.4*var(--rvv));
}

.date-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.date-input {
    width: fit-content;
}

label[for='body'] {
    margin-bottom: 10px;
}

#tinymce-editor {
    width: 1000px;
    max-width: 90vw;
}

label[for='tags'] {
    margin-top: 20px;
    text-align: center;
}

.tags-sublabel1 {
    font-size: calc(0.5*var(--rvv));
    margin-top: 5px;
    text-align: center;
}

.tags-sublabel2 {
    font-size: calc(0.5*var(--rvv));
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}

.published-section {
    display: flex;
    align-items: center;
    gap: 20px;
}