.article {
    padding: 10px 20px;
    min-height: 100vh;

    .error {
        font-size: calc(0.8*var(--rvv));
    }

    .article-top-matter {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .article-title {
            font-size: calc(0.85*var(--rvv));
        }

        .article-author {
            text-decoration: none;
            color: inherit;
        }

        .article-author:visited {
            color: inherit;
        }

        .author-date-share {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: calc(0.6*var(--rvv));

            .article-date {
                font-weight: 200;
            }
        }
        
    }

    .article-body {
        p {
            font-size: calc(0.58*var(--rvv));
            // text-indent: calc(1*var(--rvv));
            margin: calc(0.7*var(--rvv)) 0;
            line-height: 1.45;
        }
    }

    .article-tags {
        max-width: 750px;
        margin: 0 auto;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: calc(1*var(--rvv));
        row-gap: calc(0.7*var(--rvv));

        .tag {
            color: var(--light-text);
            cursor: pointer;
            font-size: calc(0.5*var(--rvv));
            padding: 7px;
            border-radius: 5px;
            background-color: var(--tag-bg);
            text-decoration: none;
        }

        .tag:visited {
            color: var(--light-text);
        }

        .tag.dark {
            background-color: var(--tag-bg-dark);
        }
    }

}

@media screen and (min-width: 500px) {
    .article {
        padding: calc(var(--rvv));

        .article-top-matter {
            gap: calc(0.25*var(--rvv));

            .author-date {
                gap: calc(0.25*var(--rvv));
            }
        }

        .article-tags {
            padding: 10px 0;
        }
    }
}