@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/fira-code.ttf');
    font-weight: 300 700;
}

footer.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(0.3*var(--rvv));
    padding: calc(0.5*var(--rvv));
    font-size: calc(0.35*var(--rvv));

    .twitter {
        img {
            height: calc(0.8*var(--icon-height));
        }
    }

    .ssbbd {
        font-family: 'Fira Code';
        font-weight: 300;
        display: flex;
        gap: 1ch;

        .ssbbd-link {
            color: blue;
            transition: transform 1s ease-in-out;

            a:visited {
                color: blue;
            }
        }

        .ssbbd-link.dark {
            color: #20c20e;

            a:visited {
                color: #20c20e;
            }
        }

        .ssbbd-link:hover {
            transform: rotate(1080deg);
        }
    }

}