header.header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: var(--header-padding);

    .logo {
        text-decoration: none;
        cursor: pointer;
        font-family: 'Neoneon';
        font-size: calc(0.9*var(--rvv));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo:visited {
        color: inherit;
    }

    .football {
        height: 100%;
        margin-left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 60%;
        }

        img.dark {
            filter: drop-shadow(0 0 10px var(--dark-text));
        }

        img.light {
            filter: drop-shadow(0 0 10px var(--light-text));
        }
    }

    .menu {
        margin-left: auto;
        display: grid;
        grid-template-rows: 1fr 1fr;
        row-gap: calc(0.35*var(--rvv));
        grid-template-columns: 1fr 1fr;
        column-gap: calc(0.35*var(--rvv));
        grid-template-areas:
            "dark light"
            "search hamburger";
        position: relative;

        .menu-icon {
            cursor: pointer;
            height: var(--icon-height);
            padding: var(--icon-padding);
        }

        .dark-icon {
            grid-area: dark;
        }

        .light-icon {
            grid-area: light;
        }

        .search-container {
            height: var(--icon-height);
            grid-area: search;
            position: relative;
        }

        .hamburger-icon {
            grid-area: hamburger;
        }

        .search-bar {
            position: absolute;
            width: 200px;
            max-width: 28vw;
            height: 1rem;
            top: calc(0.10*var(--rvv));
            right: calc(var(--icon-height) + var(--icon-padding) + 5px);
            border: 1.5px solid var(--light-text);
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            background-color: white;
            padding: 5px;
            padding-left: 10px;
            font-family: 'Interop';
            outline: none;
        }

        .search-bar:focus {
            outline: none;
            border: 1.5px solid var(--input-focus-border);
            background-color: var(--input-focus-bg);
            transform: scale(1.01);
        }

        .search-bar:hover {
            transform: scale(1.01);
        }

        .submit-search {
            color: inherit;
            position: absolute;
            right: calc(var(--icon-height) + var(--icon-padding) + 20px);
            top: calc(1.35*var(--rvv));
            text-decoration: underline;
            font-weight: 500;
        }

        .submit-search:visited {
            color: inherit;
        }

        .submit-search:hover {
            cursor: pointer;
            font-style: italic;
            text-shadow:
                0 0 1px #fff,
                0 0 2px rgba(255, 255, 255, 0.795),
                0 0 3px rgba(255, 255, 255, 0.499),
                0 0 4px rgb(255, 102, 0),
                0 0 8px rgba(255, 102, 0, 0.714),
                0 0 10px rgba(255, 102, 0, 0.405),
                0 0 12px rgba(255, 102, 0, 0.236),
                0 0 15px rgba(255, 102, 0, 0.186);
        }
    }

    .menu.dark {
        .search-bar {
            border-color: var(--dark-text);
            background-color: rgb(247, 247, 247);
        }
        .search-bar:focus {
            outline: none;
            border: 1.5px solid var(--input-focus-border);
            background-color: var(--input-focus-bg);
        }
    }

    .menu.dark .dark-icon,
    .menu.light .light-icon {
        border-radius: 50%;
        border: 1px solid black;
    }
}

@media screen and (min-width: 500px) {
    header.header {
        padding: 20px 50px 10px;

        .football {
            margin-left: 30px;
            transition: transform 1.5s ease-in-out;
        }

        .football:hover {
            transform: rotate(-2200deg);
        }

        .menu {
            .search-bar {
                top: calc(0.20*var(--rvv));
            }
            .submit-search {
                top: calc(1.3*var(--rvv));
            }
        }
    }   
}

@media screen and (min-width: 1000px) {
    header.header {
        .menu {
            .search-bar {
                top: calc(0.28*var(--rvv));
            }
            .submit-search {
                top: calc(1.1*var(--rvv));
            }
        }
    }   
}