@keyframes leadFlicker {
    0%, 8%, 12%, 15%, 19%, 23%, 27% {
        text-shadow:
        0 0 1px #fff,
        0 0 2px rgba(255, 255, 255, 0.795),
        0 0 3px rgba(255, 255, 255, 0.499),
        0 0 4px rgb(255, 247, 0),
        0 0 8px rgba(255, 247, 0, 0.714),
        0 0 10px rgba(255, 247, 0, 0.405),
        0 0 12px rgba(255, 247, 0, 0.236),
        0 0 15px rgba(255, 247, 0, 0.186);
    }
    10%, 17%, 25% {       
        text-shadow: none;
    }
}

@keyframes blockFlicker {
    0%, 9%, 11%, 15%, 19%, 22% {
        text-shadow:
            0 0 1px #fff,
            0 0 2px rgba(255, 255, 255, 0.795),
            0 0 3px rgba(255, 255, 255, 0.499),
            0 0 4px rgb(255, 145, 0),
            0 0 8px rgba(255, 145, 0, 0.714),
            0 0 10px rgba(255, 145, 0, 0.405),
            0 0 12px rgba(255, 145, 0, 0.236),
            0 0 15px rgba(255, 145, 0, 0.186);
    }
    10%, 17%, 20% {       
        text-shadow: none;
    }
}

@keyframes sportsFlicker {
    0%, 9%, 13%, 15%, 17%, 20%, 25% {
        text-shadow:
            0 0 1px #fff,
            0 0 2px rgba(255, 255, 255, 0.795),
            0 0 3px rgba(255, 255, 255, 0.499),
            0 0 4px rgb(255, 102, 0),
            0 0 8px rgba(255, 102, 0, 0.714),
            0 0 10px rgba(255, 102, 0, 0.405),
            0 0 12px rgba(255, 102, 0, 0.236),
            0 0 15px rgba(255, 102, 0, 0.186);
    }
    11%, 16%, 22% {
        text-shadow: none;
    }
}

.logo.dark {
    .lead {
        animation: leadFlicker 2s 5s infinite alternate;
    }
    .block {
        animation: blockFlicker 1.3s 2s infinite alternate;
    }
    .sports {
        animation: sportsFlicker 1.5s 6s infinite alternate;
    }
}


.logo.light {
    .lead {
        text-shadow:
            0 0 1px #fff,
            0 0 2px rgba(255, 255, 255, 0.795),
            0 0 3px rgba(255, 255, 255, 0.499),
            0 0 4px rgb(255, 247, 0);
    }

    .block {
        text-shadow:
            0 0 1px #fff,
            0 0 2px rgba(255, 255, 255, 0.795),
            0 0 3px rgba(255, 255, 255, 0.499),
            0 0 4px rgb(255, 145, 0);
    }

    .sports {
        text-shadow:
            0 0 1px #fff,
            0 0 2px rgba(255, 255, 255, 0.795),
            0 0 3px rgba(255, 255, 255, 0.499),
            0 0 4px rgb(255, 102, 0);
    }
}

.logo.dark {
    .lead {
        text-shadow:
            0 0 1px #fff,
            0 0 2px rgba(255, 255, 255, 0.795),
            0 0 3px rgba(255, 255, 255, 0.499),
            0 0 4px rgb(255, 247, 0),
            0 0 8px rgba(255, 247, 0, 0.714),
            0 0 10px rgba(255, 247, 0, 0.405),
            0 0 12px rgba(255, 247, 0, 0.236),
            0 0 15px rgba(255, 247, 0, 0.186);
    }

    .block {
        text-shadow:
            0 0 1px #fff,
            0 0 2px rgba(255, 255, 255, 0.795),
            0 0 3px rgba(255, 255, 255, 0.499),
            0 0 4px rgb(255, 145, 0),
            0 0 8px rgba(255, 145, 0, 0.714),
            0 0 10px rgba(255, 145, 0, 0.405),
            0 0 12px rgba(255, 145, 0, 0.236),
            0 0 15px rgba(255, 145, 0, 0.186);
    }

    .sports {
        text-shadow:
            0 0 1px #fff,
            0 0 2px rgba(255, 255, 255, 0.795),
            0 0 3px rgba(255, 255, 255, 0.499),
            0 0 4px rgb(255, 102, 0),
            0 0 8px rgba(255, 102, 0, 0.714),
            0 0 10px rgba(255, 102, 0, 0.405),
            0 0 12px rgba(255, 102, 0, 0.236),
            0 0 15px rgba(255, 102, 0, 0.186);
    }
}