@font-face {
    font-family: 'Neoneon';
    src: url('../fonts/neoneon.otf');
}

@font-face {
    font-family: 'Interop';
    src: url('../fonts/interop/100-thin.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'Interop';
    src: url('../fonts/interop/200-extra-light.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'Interop';
    src: url('../fonts/interop/300-light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'Interop';
    src: url('../fonts/interop/400-medium.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Interop';
    src: url('../fonts/interop/500-regular.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Interop';
    src: url('../fonts/interop/600-semi-bold.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'Interop';
    src: url('../fonts/interop/700-bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Interop';
    src: url('../fonts/interop/800-extra-bold.otf');
    font-weight: 800;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --rvv: calc(1rem + 1vmin + 1vmax);

    --shadow: 1.0px 1.9px 1.9px rgba(0, 0, 0, 0.262);
    --focus-shadow: 2.0px 4.0px 4.0px rgba(0, 0, 0, 0.337);

    --header-height: calc(3*var(--rvv));
    --header-padding-TB: 20px;
    --header-padding-LR: 13px;
    --header-padding: var(--header-padding-TB) var(--header-padding-LR);
    --icon-height: calc(0.85*var(--rvv));
    --icon-padding: calc(0.18*var(--rvv));

    --light-bg: #ffa73527;
    --light-text: #171717;
    --dark-bg: #0d0d0deb;
    --dark-text: #e2e2e2;

    --input-focus-border: #ffab3c;
    --input-focus-bg: #fff3e3;

    --expanded-menu-light-bg: #232323;
    --expanded-menu-light-text: #e2e2e2;
    --expanded-menu-dark-bg: #ffffff;
    --expanded-menu-dark-text: #171717;

    --tag-bg: #a4d7f7e6;

    --article-link-bg: #ffcc8a;
}

html,
body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Interop';
    font-weight: 300;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-wrapper.light {
    background-color: var(--light-bg);
    color: var(--light-text);
}

.site-wrapper.dark {
    background-color: var(--dark-bg);
    color: var(--dark-text);

    .svg {
        filter: invert(99%) sepia(0%) saturate(1959%) hue-rotate(289deg) brightness(111%) contrast(77%);
    }
}

main.main {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 500px) {
    .hover-grow {
        transition: transform 0.1s ease-in-out;
    }

    .hover-grow:hover {
        transform: scale(1.1);
    }

    .hover-grow.grow-less:hover {
        transform: scale(1.05);
    }
}

@media screen and (min-width: 900px) {
    main.main {
        flex-direction: row;
    }
}