.share-article {
    margin: 0 20px 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        cursor: pointer;
        padding: 5px;
        width: calc(0.8*var(--rvv));
    }

    .share-link {
        position: relative;

        .copy-alert {
            border-radius: 5px;
            position: absolute;
            top: 2rem;
            width: 150px;
            font-size: calc(0.4*var(--rvv));
            font-style: italic;
            text-shadow:
                0 0 1px #fff,
                0 0 2px rgba(255, 255, 255, 0.795),
                0 0 3px rgba(255, 255, 255, 0.499),
                0 0 4px rgb(255, 102, 0),
                0 0 8px rgba(255, 102, 0, 0.714),
                0 0 10px rgba(255, 102, 0, 0.405),
                0 0 12px rgba(255, 102, 0, 0.236),
                0 0 15px rgba(255, 102, 0, 0.186);
        }
    }
}

@media screen and (min-width: 600px) {
    .share-article {
        margin: 0;
        margin-left: calc(1*var(--rvv));

        .share-link {
            .copy-alert {
                top: 3rem;
            }
        }
    }
}